$mk_color_appsmenu_text: #f8f9fa;
$mk_color_appbar_text: #dee2e6;
$mk_color_appbar_active: #5d8da8;
$mk_color_appbar_background: #111827;
$mk-appsmenu-color: $mk_color_appsmenu_text;
$mk-appbar-color: $mk_color_appbar_text;
$mk-appbar-active: $mk_color_appbar_active;
$mk-appbar-background: $mk_color_appbar_background;
