// Colors

$mk_color_appbar_text: #DEE2E6;
$mk_color_appbar_active: #5D8DA8;
$mk_color_appbar_background: #111827;

// Override

$mk-appbar-color: $mk_color_appbar_text;
$mk-appbar-active: $mk_color_appbar_active;
$mk-appbar-background: $mk_color_appbar_background;