<?xml version="1.0" encoding="UTF-8"?>
<odoo>
	
    <menuitem
        id="menu_main"
        sequence="22"
        name="Products"
        web_icon="muk_product,static/description/icon.png"
        groups="base.group_user"
    >
	    <menuitem
	        id="menu_product_template"
	        sequence="5"
	        name="Products"
	        action="action_product_template"
	    />
	    <menuitem
	        id="menu_product_product"
	        sequence="10"
	        name="Variants"
	        action="action_product"
            groups="product.group_product_variant"
	    />
	    <menuitem
	        id="menu_pricelists"
	        sequence="25"
	        name="Pricelists"
	    >
			<menuitem
				id="menu_salespricelists"
				sequence="10"
				name="Sales"
				groups="product.group_product_pricelist"
			>
				<menuitem 
					id="menu_product_pricelist"
					sequence="10"
					name="Pricelists"
					action="product.product_pricelist_action2"
				/>
				<menuitem 
					id="menu_product_pricelist_items"
					sequence="10"
					name="Price Rules"
					action="action_product_pricelist_item"
				/>
			</menuitem>
			<menuitem
				id="menu_supplier_pricelists"
				sequence="20"
				name="Vendor"
			>
				<menuitem 
					id="menu_product_supplierinfo"
					sequence="10"
					name="Price Rules"
					action="product.product_supplierinfo_type_action"
				/>
			</menuitem>
    	</menuitem>
	    <menuitem
	        id="menu_product_document"
	        sequence="50"
	        name="Documents"
	        action="action_product_document"
	    />
	    <menuitem
	        id="menu_configuration"
	        sequence="80"
	        name="Configuration"
	    >
	        <menuitem
	            id="menu_configuration_settings"
	            sequence="5"
	            name="Settings"
	            action="base_setup.action_general_configuration"
	            groups="base.group_system"
			/>
		    <menuitem
		        id="menu_configuration_product"
		        sequence="10"
		        name="Products"
		    >
			    <menuitem
			        id="menu_product_category"
			        sequence="5"
			        name="Product Categories"
			        action="product.product_category_action_form"
			    />
			    <menuitem
			        id="menu_product_tag"
			        sequence="10"
			        name="Product Tags"
			        action="product.product_tag_action"
			    />
                <menuitem 
                	id="menu_product_attribute"
                    sequence="15"
			        name="Product Attributes"
                    action="product.attribute_action"
                    groups="product.group_product_variant"
               />
			   <menuitem
                    id="menu_product_combo"
                    name="Combo Choices"
                    action="product.product_combo_action"
                    sequence="20"
                />
	    	</menuitem>
			<menuitem
		        id="menu_configuration_uom"
		        sequence="15"
		        name="Units of Measure"
        		groups="uom.group_uom"
		    >
			    <menuitem 
			    	id="menu_uom_category"
	                sequence="25"
	                name="Categories"
	                action="uom.product_uom_categ_form_action"
	       		/>
			    <menuitem 
			    	id="menu_uom_unit"
	                sequence="50"
	                name="Units"
	                action="uom.product_uom_form_action"
	       		/>
	    	</menuitem>
		    <menuitem
		        id="menu_configuration_logistics"
		        sequence="25"
		        name="Logistics"
        		groups="product.group_stock_packaging"
		    >
			    <menuitem 
			    	id="menu_product_packaging" 
			        sequence="10"
			    	name="Product Packagings" 
			    	action="product.action_packaging_view" 
			    />
	    	</menuitem>
	    </menuitem>
    </menuitem>

</odoo>
