.o_navbar_apps_menu .dropdown-toggle {
	padding: 0px 14px !important;
}
	
.o_navbar_apps_menu.show .dropdown-menu {
	@include mk-full-screen-menu();
	display: flex !important;
	flex-direction: row !important;
	flex-wrap: wrap !important;
	justify-content: flex-start;
    align-content: flex-start;
	overflow: inital;
	background: {
        size: cover;
        repeat: no-repeat;
        position: center;
    }
	@include media-breakpoint-up(lg) {
	    padding: {
	        left: 20vw;
	        right: 20vw;
	    }
	}
	.o_app {
		margin-top: 20px;
	    width: percentage(1/3);
		background: none !important;
	    @include media-breakpoint-up(sm) {
	        width: percentage(1/4);
	    }
	    @include media-breakpoint-up(md) {
	        width: percentage(1/6);
	    }
	   	> a {
		    display: flex;
		    align-items: center;
		    flex-direction: column;
		    justify-content: flex-start;
	   		.mk_app_icon {
			    height: auto;
			    object-fit: cover;
			    max-width: 7rem;
			    width: 100%;
			    padding: 10px;
			    flex-basis: 0;
			    max-width: 70px;
			    aspect-ratio: 1;
			    border-radius: 0.375rem;
			    background-color: $white;
			    transform-origin: center bottom;
			    transition: box-shadow ease-in 0.1s, transform ease-in 0.1s;
			    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.02);
			}
			.mk_app_name {
				color: $mk-appsmenu-color; 
			}
	   	}
	    &:hover {
			.mk_app_icon {
			    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 8px 8px rgba(0, 0, 0, 0.03);
    			transform: translateY(-2px);
			}
	    }
	}
}

.mk_neutralize_banner_active .o_navbar_apps_menu.show .dropdown-menu {
	height: calc(100vh - #{$o-navbar-height + $mk-neutralize-banner-height});
    max-height: calc(100vh - #{$o-navbar-height + $mk-neutralize-banner-height});
    top: $o-navbar-height + $mk-neutralize-banner-height;
}

