<?xml version="1.0" encoding="UTF-8"?>

<odoo>

	<menuitem
		id="menu_mcp_root"
		name="MCP"
		sequence="6"
		groups="base.group_system"
		parent="base.menu_administration"
	/>

	<menuitem
		id="menu_mcp_keys"
		name="API Keys"
		parent="menu_mcp_root"
		action="action_mcp_key"
		sequence="10"
	/>

	<menuitem
		id="menu_mcp_tools"
		name="Tools"
		parent="menu_mcp_root"
		action="action_mcp_tool"
		sequence="20"
	/>

	<menuitem
		id="menu_mcp_log"
		name="Audit Log"
		parent="menu_mcp_root"
		action="action_mcp_log"
		sequence="30"
	/>

</odoo>
