.mk_btn_dialog_size {
    color: $btn-close-color;
    opacity: $btn-close-opacity;
    &:hover {
        opacity: $btn-close-hover-opacity;
    }
}

@include media-breakpoint-up(sm) {
    .modal-fs {
        width: calc(100% - #{2 * $modal-dialog-margin-y-sm-up});
        max-width: none;
    }
}
