$mk-appbar-color: #dee2e6 !default;
$mk-appbar-background: #111827 !default;

$mk-sidebar-large-width: 146px !default;
$mk-sidebar-small-width: 46px !default;
$mk-neutralize-banner-height: 24px !default;


