.mk_apps_sidebar_panel {
    @include mk-disable-scrollbar();
    overflow-y: auto;	
	position: fixed; 
    top: $o-navbar-height;
    height: calc(100% - #{$o-navbar-height}); 
    background-color: $mk-appbar-background;
    .mk_apps_sidebar {
	    padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
	    white-space: nowrap;
	    .mk_apps_sidebar_menu {
		    list-style: none;
		    margin: 0;
		    padding: 0;
		    > li {
		        margin: 0;
		        padding: 0;
		        border: 0px;
		        display: block;
		        > a {
		            margin: 0;
		            border: 0px;
		            display: block;
		            cursor: pointer;
		            font-size: 13px;
		            font-weight: 300;
		            overflow: hidden;
		            padding: 8px 11px;
		            position: relative;
		            text-decoration: none;
		            color: $mk-appbar-color;
		            text-overflow: ellipsis;
		            .mk_apps_sidebar_icon {
					    width: 22px;
					    height: 22px;
					    margin-right: 5px;
					}
		        }
		    }
	        > li.active > a {
			    background: $o-brand-primary;
	        }
	        > li:hover > a {
			    background: $o-brand-primary;
	        }
	    }
	}
}

@include media-breakpoint-up(lg) {
	.mk_sidebar_type_large {
		.mk_apps_sidebar_panel {
			width: $mk-sidebar-large-width;
            .mk_apps_sidebar_logo {
                width: 100%;
                display: block;
            }
		}
		.o_navbar + .o_action_manager {
			padding-left: $mk-sidebar-large-width;
		}
	}
	.mk_sidebar_type_small {
		.mk_apps_sidebar_panel {
			width: $mk-sidebar-small-width;
			.mk_apps_sidebar_name {
				display: none;
			}
			.mk_apps_sidebar_icon {
				margin-right: 0 !important;
			}
	       	.mk_apps_sidebar_logo {
				display: none;
			}
		}
		.o_navbar + .o_action_manager {
			padding-left: $mk-sidebar-small-width;
		}
	}
	.mk_sidebar_type_invisible {
		.mk_apps_sidebar_panel {
			display: none;
		}
	}
}

@include media-breakpoint-only(md) {
	.mk_sidebar_type_large, .mk_sidebar_type_small {
		.mk_apps_sidebar_panel {
			width: $mk-sidebar-small-width;
			.mk_apps_sidebar_name {
				display: none;
			}
			.mk_apps_sidebar_icon {
				margin-right: 0 !important;
			}
	       	.mk_apps_sidebar_logo {
				display: none;
			}
		}
		.o_navbar + .o_action_manager {
			padding-left: $mk-sidebar-small-width;
		}
	}
	.mk_sidebar_type_invisible {
		.mk_apps_sidebar_panel {
			display: none;
		}
	}
}

@include media-breakpoint-down(sm) {
	.mk_apps_sidebar_panel {
		display: none;
	}
	.o_action_manager {
		padding-left: 0;
	}
}

.editor_has_snippets_hide_backend_navbar {
	.mk_apps_sidebar_panel {
		display: none !important;
	}
	.o_action_manager {
		padding-left: 0 !important;
	}
}

.o_fullscreen, .o_home_menu_background {
	.mk_apps_sidebar_panel {
		display: none !important;
	}
	.o_action_manager {
		padding-left: 0 !important;
	}
}

.mk_neutralize_banner_active {
	#oe_neutralize_banner {
		height: 24px;
	}	
	.mk_apps_sidebar_panel {
    	top: $o-navbar-height + $mk-neutralize-banner-height;
	    height: calc(100% - #{$o-navbar-height + $mk-neutralize-banner-height}); 
	}
}
