$mk-appbar-color: #d1d1d3 !default;
$mk-appbar-active: $o-brand-primary !default;
$mk-appbar-hover: rgba(255, 255, 255, 0.08) !default;
$mk-appbar-background: #25262b !default;
$mk-appbar-border: rgba(255, 255, 255, 0.07) !default;
$mk-sidebar-large-width: 146px !default;
$mk-sidebar-small-width: 46px !default;
